.article {
  background: #fff;
  padding: 15px;
  width: 940px;
  margin: 0 auto;
  margin-top: 26px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 62px;
    margin-bottom: 16px;
    position: relative;
  }

  &__dialog {
    width: 240px;
    height: 100px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 35px;
    padding: 12px 16px;
    font-size: var(--font-base-size) !important;
    line-height: var(--font-base-lh) !important;
    z-index: 100;
  }

  &__dialog-text {
    color: #595959;
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  &__dialog-btn-list {
    position: absolute;
    right: 16px;
  }
  &__dialog-btn {
    min-width: 34px !important;
    padding: 1px 8px !important;
    text-transform: none !important;
  }
  &__dialog-btn + &__dialog-btn {
    margin-left: 8px;
  }

  &__dialog-text-icon {
    padding: 3px 1px;
    background: url('./../../models/img/article/dialog.svg') no-repeat 0 3px;
    width: 15px;
    height: 20px;
  }

  &__header-btn {
    font-size: var(--font-base-size) !important;
    line-height: var(--font-base-lh) !important;
    white-space: nowrap;
    text-transform: none !important;
    padding: 6px 20px !important;
  }

  &__header-btn + &__header-btn {
    margin-left: 12px;
  }

  &__title-wrapper {
    margin-bottom: 4px;
  }

  &__profile {
    display: flex;
  }

  &__profile-image {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    margin-left: 12px;
  }

  &__profile-name {
    font-size: var(--h6-size);
    line-height: var(--h6-lh);
  }

  &__profile-created {
    white-space: nowrap;
  }

  &__likes {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__heart {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  &__heart_checked {
    fill: #ff0707;
  }

  &__title {
    margin-right: 13px;
    display: inline-block;
    color: var(--primary);
    font-size: var(--h5-size);
    line-height: var(--h5-lh);

    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__tag-list {
    overflow: hidden;
    max-height: 30px;
  }

  &__tag-list li {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: fit-content;
    padding: 3px 5px;
    display: inline-block;
    margin-right: 8px;
  }

  &__descr {
    width: calc(100% - 225px);
    color: var(--text);
    font-size: 12px;
    line-height: 22px;
    white-space: break-spaces;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    max-height: 22px;
  }
}
