.label {
  line-height: 22px;
  display: block;
  font-size: var(--font-base-size);
  &__input {
    color: #BFBFBF;
    font-size: var(--font-lg-size);
    line-height: 24px;
    padding: 8px 12px;
    display: block;
    min-width: 320px;
    border: 1px solid #BFBFBF;
  }
  &__error {
    color: var(--error);
  }
  &__input_error{
    border-color: var(--error);
  }
}