.article-settings-form {
  width: min-content;
  margin: 0 auto;
  margin-top: 34px;
  background: #fff;
  padding: 48px 32px;
  &__header{
    font-size: var(--h5-size);
    line-height: var(--h5-lh);
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
  }
  &__input {
    min-width: 874px;
  }
  &__input-text{
    min-height: 170px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__input-list{
    margin-bottom: 21px;
  }
  &__input-list-item + &__input-list-item {
    margin-top: 21px;
  }
  &__tag-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 17px;
  }
  &__tag-list-input {
    width:100%
  }
  &__tag-list-item{
    display: flex;
    gap: 17px;
    width: 440px;
  }

  &__tag-list-btn{
    font-size: 16px !important;
    line-height: 24px !important;
    white-space: nowrap;
    text-transform: none !important;
    padding: 8px 36px !important;
  }

}