.profile {
  display: flex;
  align-items: center;
  &__button {
    font-size: var(--h6-size) !important;
    line-height: var(--h6-lh) !important;
    text-transform: capitalize !important;
    padding: 6px 18px 10px !important;
  }
}

.app-header {
  height: 80px;
  padding: 13px 22px;
  background: #fff;
  font-size: var(--h6-size);
  line-height: var(--h6-lh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link {
    cursor: pointer;
  }
  &__link + &__link {
    margin-left: 27px;
  }
  &__title {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  &__signup {
    color: var(--success);
  }
  &__create-article {
    color: var(--success) !important;
    font-size: var(--font-base-size) !important;
    line-height: var(--font-base-lh) !important;
    padding: 6px 10px !important;
    text-transform: none !important;
  }
  &__user {
    display: flex;
    align-items: center;
    padding: 0 !important;
  }
  &__username {
    font-size: var(--h6-size);
    line-height: var(--h6-lh);
    margin-right: 13px;
    text-transform: none;
  }
  &__userphoto {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid transparent;
    //background: url("./../../models/img/header/defaultUser.png") no-repeat;
    background-size: contain;
  }
}
