body {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #4a4a4a;
  line-height: 12px;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
h1,h2,h3{
  font-weight: inherit;
}
p,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}


/*constants*/

/*fonts*/
:root{
  --h6-size: 18px;
  --h6-lh: 28px;
  --h5-size: 20px;
  --h5-lh: 28px;
  --h4-size: 24px;
  --h4-lh: 32px;
  --h3-size: 30px;
  --h3-lh: 36px;
  --h2-size: 56px;--h2-lh: 64px;
  --h1-size: 44px;
  --h1-lh: 76px;
  --font-sm-size: 12px;
  --font-base-size: 14px;
  --font-lg-size: 16px;

//  colors
  --primary: #1890FF;
  --success: #52C41A;
  --error: #F5222D;
  --warning: #FAAD14;
  --normal: #D9D9D9;
  --heading: rgba(0, 0, 0, 0.85);
  --text: rgba(0, 0, 0, 0.75);
  --text-secondary: rgba(0, 0, 0, 0.5);
}




